body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:35px;
  width:1160px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1160px;
  height:1px;
}
#u1 {
  position:absolute;
  left:185px;
  top:0px;
  width:10px;
  height:580px;
}
#u1_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u1_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u2 {
  position:absolute;
  left:49px;
  top:2px;
  width:129px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:196px;
  top:11px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#3300CC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:47px;
  top:50px;
  width:118px;
  height:30px;
  font-family:'High Tower Text Bold', 'High Tower Text';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:41px;
  top:574px;
  width:150px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u9 {
  position:absolute;
  left:205px;
  top:73px;
  width:955px;
  height:657px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:657px;
}
#u10 {
  position:absolute;
  left:2px;
  top:320px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:205px;
  top:135px;
  width:955px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:938px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:955px;
  height:1px;
}
#u12 {
  position:absolute;
  left:240px;
  top:94px;
  width:49px;
  height:1px;
  font-size:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:816px;
  top:263px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:234px;
  top:234px;
  width:846px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:829px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:846px;
  height:1px;
}
#u17 {
  position:absolute;
  left:258px;
  top:200px;
  width:122px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:391px;
  top:192px;
  width:258px;
  height:32px;
  font-size:13px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:32px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:690px;
  top:200px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:234px;
  top:172px;
  width:846px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:829px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:846px;
  height:1px;
}
#u24 {
  position:absolute;
  left:278px;
  top:155px;
  width:27px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:513px;
  top:155px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:683px;
  top:155px;
  width:40px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:810px;
  top:155px;
  width:27px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:873px;
  top:155px;
  width:27px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:933px;
  top:155px;
  width:27px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:993px;
  top:155px;
  width:27px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:808px;
  top:200px;
  width:25px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:875px;
  top:200px;
  width:25px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:934px;
  top:200px;
  width:25px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:994px;
  top:200px;
  width:25px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:816px;
  top:334px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#0000FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:234px;
  top:305px;
  width:846px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:829px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:846px;
  height:1px;
}
#u49 {
  position:absolute;
  left:258px;
  top:271px;
  width:122px;
  height:16px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:391px;
  top:263px;
  width:258px;
  height:32px;
  font-size:13px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:32px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:690px;
  top:271px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:808px;
  top:271px;
  width:25px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:875px;
  top:271px;
  width:25px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:934px;
  top:271px;
  width:25px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:994px;
  top:271px;
  width:25px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:816px;
  top:405px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#0000FF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:234px;
  top:376px;
  width:846px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:829px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:846px;
  height:1px;
}
#u66 {
  position:absolute;
  left:258px;
  top:342px;
  width:122px;
  height:16px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:391px;
  top:334px;
  width:258px;
  height:32px;
  font-size:13px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:32px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:690px;
  top:342px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:808px;
  top:342px;
  width:25px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:875px;
  top:342px;
  width:25px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:934px;
  top:342px;
  width:25px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:994px;
  top:342px;
  width:25px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:816px;
  top:476px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#0000FF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:234px;
  top:447px;
  width:846px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:829px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:846px;
  height:1px;
}
#u83 {
  position:absolute;
  left:258px;
  top:413px;
  width:122px;
  height:16px;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:391px;
  top:405px;
  width:258px;
  height:32px;
  font-size:13px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:32px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:690px;
  top:413px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:808px;
  top:413px;
  width:25px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:875px;
  top:413px;
  width:25px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:934px;
  top:413px;
  width:25px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:994px;
  top:413px;
  width:25px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:816px;
  top:476px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#0000FF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:816px;
  top:547px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#0000FF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:234px;
  top:518px;
  width:846px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:829px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:846px;
  height:1px;
}
#u102 {
  position:absolute;
  left:258px;
  top:484px;
  width:122px;
  height:16px;
}
#u103 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u102_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  position:absolute;
  left:391px;
  top:476px;
  width:258px;
  height:32px;
  font-size:13px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:32px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:690px;
  top:484px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:808px;
  top:484px;
  width:25px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:875px;
  top:484px;
  width:25px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:934px;
  top:484px;
  width:25px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:994px;
  top:484px;
  width:25px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:816px;
  top:658px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#0000FF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:234px;
  top:589px;
  width:846px;
  height:10px;
}
#u118_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_end {
  position:absolute;
  left:829px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_line {
  position:absolute;
  left:0px;
  top:5px;
  width:846px;
  height:1px;
}
#u119 {
  position:absolute;
  left:258px;
  top:555px;
  width:122px;
  height:16px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:391px;
  top:547px;
  width:258px;
  height:32px;
  font-size:13px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:32px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:690px;
  top:555px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:808px;
  top:555px;
  width:25px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:875px;
  top:555px;
  width:25px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:934px;
  top:555px;
  width:25px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:994px;
  top:555px;
  width:25px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:631px;
  top:670px;
  width:83px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:571px;
  top:670px;
  width:40px;
  height:16px;
  color:#CCCCCC;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:735px;
  top:670px;
  width:40px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:258px;
  top:626px;
  width:100px;
  height:16px;
}
#u140 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u141 {
  position:absolute;
  left:328px;
  top:622px;
  width:52px;
  height:25px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u142 {
  position:absolute;
  left:390px;
  top:622px;
  width:52px;
  height:25px;
}
#u142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u143 {
  position:absolute;
  left:452px;
  top:622px;
  width:52px;
  height:25px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u144 {
  position:absolute;
  left:723px;
  top:158px;
  width:16px;
  height:11px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
}
#u145 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:35px;
  top:0px;
  width:10px;
  height:580px;
}
#u146_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u146_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u146_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u147 {
  position:absolute;
  left:49px;
  top:90px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u148 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:49px;
  top:141px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u150 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:49px;
  top:187px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u152 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:49px;
  top:234px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u154 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:49px;
  top:278px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#FF0000;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u156 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:49px;
  top:324px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u158 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:49px;
  top:369px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u160 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
