body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:1230px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:35px;
  width:1230px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1230px;
  height:1px;
}
#u1 {
  position:absolute;
  left:185px;
  top:11px;
  width:10px;
  height:580px;
}
#u1_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u1_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u2 {
  position:absolute;
  left:49px;
  top:2px;
  width:129px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:196px;
  top:11px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#3300CC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:47px;
  top:50px;
  width:118px;
  height:30px;
  font-family:'High Tower Text Bold', 'High Tower Text';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:205px;
  top:55px;
  width:1025px;
  height:525px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:525px;
}
#u9 {
  position:absolute;
  left:2px;
  top:254px;
  width:1021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:205px;
  top:105px;
  width:1025px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:1008px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1025px;
  height:1px;
}
#u11 {
  position:absolute;
  left:41px;
  top:585px;
  width:150px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u12 {
  position:absolute;
  left:357px;
  top:70px;
  width:84px;
  height:35px;
  font-size:18px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:451px;
  top:70px;
  width:84px;
  height:35px;
  font-size:18px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:214px;
  top:68px;
  width:129px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:280px;
  top:138px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:371px;
  top:138px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:479px;
  top:138px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1012px;
  top:138px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:902px;
  top:138px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:591px;
  top:138px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:797px;
  top:138px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:280px;
  top:187px;
  width:63px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:371px;
  top:187px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:461px;
  top:187px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:606px;
  top:187px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:829px;
  top:187px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:932px;
  top:187px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1045px;
  top:187px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:280px;
  top:237px;
  width:63px;
  height:19px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:371px;
  top:237px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:461px;
  top:237px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:606px;
  top:237px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:829px;
  top:237px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:932px;
  top:237px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1045px;
  top:237px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:280px;
  top:287px;
  width:63px;
  height:19px;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:371px;
  top:287px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:461px;
  top:287px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:606px;
  top:287px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:829px;
  top:287px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:932px;
  top:287px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1045px;
  top:287px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:693px;
  top:138px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:709px;
  top:187px;
  width:26px;
  height:19px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:709px;
  top:237px;
  width:26px;
  height:19px;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:709px;
  top:287px;
  width:26px;
  height:19px;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:216px;
  top:138px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:228px;
  top:187px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:230px;
  top:239px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:230px;
  top:287px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1175px;
  top:138px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1175px;
  top:187px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1175px;
  top:237px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1175px;
  top:287px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:280px;
  top:338px;
  width:63px;
  height:19px;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:371px;
  top:338px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:461px;
  top:338px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:606px;
  top:338px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:829px;
  top:338px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:932px;
  top:338px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:1045px;
  top:338px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:280px;
  top:388px;
  width:63px;
  height:19px;
  font-size:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:371px;
  top:388px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:461px;
  top:388px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:606px;
  top:388px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:829px;
  top:388px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:932px;
  top:388px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:1045px;
  top:388px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:280px;
  top:438px;
  width:63px;
  height:19px;
  font-size:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:371px;
  top:438px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:461px;
  top:438px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:606px;
  top:438px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:829px;
  top:438px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:932px;
  top:438px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:1045px;
  top:438px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:709px;
  top:338px;
  width:26px;
  height:19px;
  font-size:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:709px;
  top:388px;
  width:26px;
  height:19px;
  font-size:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:709px;
  top:438px;
  width:26px;
  height:19px;
  font-size:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:228px;
  top:338px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:230px;
  top:390px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:230px;
  top:438px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:1175px;
  top:338px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:1175px;
  top:388px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:1175px;
  top:438px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:631px;
  top:513px;
  width:83px;
  height:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:571px;
  top:513px;
  width:40px;
  height:16px;
  color:#CCCCCC;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:735px;
  top:513px;
  width:40px;
  height:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:1173px;
  top:206px;
  width:37px;
  height:142px;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:142px;
}
#u165 {
  position:absolute;
  left:2px;
  top:1px;
  width:33px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1117px;
  top:138px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:1117px;
  top:187px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:1117px;
  top:237px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:1117px;
  top:287px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:1117px;
  top:338px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:1117px;
  top:388px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:1117px;
  top:438px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:35px;
  top:0px;
  width:10px;
  height:580px;
}
#u180_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u180_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u180_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u181 {
  position:absolute;
  left:49px;
  top:90px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u182 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:49px;
  top:141px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#FF0000;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u184 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:49px;
  top:187px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u186 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:49px;
  top:234px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u188 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:49px;
  top:278px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u190 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:49px;
  top:324px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u192 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:49px;
  top:369px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u194 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
