body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:1120px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:35px;
  width:1120px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1120px;
  height:1px;
}
#u1 {
  position:absolute;
  left:185px;
  top:0px;
  width:10px;
  height:580px;
}
#u1_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u1_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u2 {
  position:absolute;
  left:49px;
  top:2px;
  width:129px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:196px;
  top:11px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#3300CC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:47px;
  top:50px;
  width:118px;
  height:30px;
  font-family:'High Tower Text Bold', 'High Tower Text';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:206px;
  top:55px;
  width:914px;
  height:745px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:745px;
}
#u9 {
  position:absolute;
  left:2px;
  top:364px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:205px;
  top:105px;
  width:915px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:898px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:915px;
  height:1px;
}
#u11 {
  position:absolute;
  left:228px;
  top:72px;
  width:81px;
  height:1px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:41px;
  top:574px;
  width:150px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u14 {
  position:absolute;
  left:217px;
  top:230px;
  width:873px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:520px;
  top:237px;
  width:30px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:317px;
  top:237px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:236px;
  top:237px;
  width:27px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:883px;
  top:237px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:217px;
  top:317px;
  width:873px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:856px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:873px;
  height:1px;
}
#u25 {
  position:absolute;
  left:217px;
  top:382px;
  width:873px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:856px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:873px;
  height:1px;
}
#u26 {
  position:absolute;
  left:217px;
  top:459px;
  width:873px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:856px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:873px;
  height:1px;
}
#u27 {
  position:absolute;
  left:217px;
  top:532px;
  width:873px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:856px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:873px;
  height:1px;
}
#u28 {
  position:absolute;
  left:217px;
  top:606px;
  width:873px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:856px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:873px;
  height:1px;
}
#u29 {
  position:absolute;
  left:453px;
  top:237px;
  width:27px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:600px;
  top:237px;
  width:53px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:703px;
  top:237px;
  width:27px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:244px;
  top:285px;
  width:8px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:287px;
  top:285px;
  width:113px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:455px;
  top:285px;
  width:22px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:527px;
  top:285px;
  width:14px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:600px;
  top:285px;
  width:51px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:705px;
  top:285px;
  width:25px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:780px;
  top:285px;
  width:209px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:999px;
  top:285px;
  width:51px;
  height:16px;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:244px;
  top:356px;
  width:8px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:287px;
  top:356px;
  width:113px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:455px;
  top:356px;
  width:22px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:527px;
  top:356px;
  width:14px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:600px;
  top:356px;
  width:51px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:705px;
  top:356px;
  width:25px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:780px;
  top:356px;
  width:209px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:999px;
  top:356px;
  width:51px;
  height:16px;
  color:#FF0000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:244px;
  top:424px;
  width:8px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:287px;
  top:424px;
  width:113px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:455px;
  top:424px;
  width:22px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:527px;
  top:424px;
  width:14px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:600px;
  top:424px;
  width:51px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:705px;
  top:424px;
  width:25px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:780px;
  top:424px;
  width:209px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:999px;
  top:424px;
  width:51px;
  height:16px;
  color:#FF0000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:244px;
  top:494px;
  width:8px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:287px;
  top:494px;
  width:113px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:455px;
  top:494px;
  width:22px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:527px;
  top:494px;
  width:14px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:600px;
  top:494px;
  width:51px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:705px;
  top:494px;
  width:25px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:780px;
  top:494px;
  width:209px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:999px;
  top:494px;
  width:51px;
  height:16px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:244px;
  top:564px;
  width:8px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:287px;
  top:564px;
  width:113px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:455px;
  top:564px;
  width:22px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:527px;
  top:564px;
  width:14px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:600px;
  top:564px;
  width:51px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:705px;
  top:564px;
  width:25px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:780px;
  top:564px;
  width:209px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:999px;
  top:564px;
  width:51px;
  height:16px;
  color:#FF0000;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:244px;
  top:644px;
  width:8px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:287px;
  top:644px;
  width:113px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:455px;
  top:644px;
  width:22px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:527px;
  top:644px;
  width:14px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:600px;
  top:644px;
  width:51px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:705px;
  top:644px;
  width:25px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:780px;
  top:644px;
  width:209px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:999px;
  top:644px;
  width:51px;
  height:16px;
  color:#FF0000;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:217px;
  top:690px;
  width:873px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:856px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:873px;
  height:1px;
}
#u132 {
  position:absolute;
  left:606px;
  top:734px;
  width:83px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:546px;
  top:734px;
  width:40px;
  height:16px;
  color:#CCCCCC;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:710px;
  top:734px;
  width:40px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:217px;
  top:125px;
  width:73px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:307px;
  top:125px;
  width:73px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:404px;
  top:125px;
  width:73px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:217px;
  top:182px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:288px;
  top:182px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:359px;
  top:182px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:430px;
  top:182px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:35px;
  top:0px;
  width:10px;
  height:580px;
}
#u152_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u152_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u152_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u153 {
  position:absolute;
  left:49px;
  top:90px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u154 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:49px;
  top:141px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u156 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:49px;
  top:187px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#FF0000;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u158 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:49px;
  top:234px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u160 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:49px;
  top:278px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u162 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:49px;
  top:324px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u164 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:49px;
  top:369px;
  width:129px;
  height:29px;
  font-size:16px;
  color:#000000;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u166 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
